
.Body{
    background-color: #F1F2F6;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.FirsBulim{
    display: flex;
    justify-content: space-between;
    
}


.CourseList{
    height: auto;
    margin-top: 25px;
    margin-bottom: 40px;

}

.search {
    position: 'relative';
    border-radius: 5px;
    background-color: white;
    
}

.CourseSearchIcon{
    width: 100%;
    height: 40px;
    border-radius: 4px;
}
.SimiliarSearch{
    width: 100%;
    background-color: white;
    margin-top: 30px;
}

.BlaBlaBla{
    border-radius: 10px;
    margin-top: 20px;
}
.SimiliarSearchButtons{
    background-color: #F1F2F6;
    color: #9DA7BB;
    border-radius: 4px;
    margin: auto;
    margin-left: 15px;
    margin-top: 10px;
    padding: 4px 7px;
    font-size: 14px;
    cursor: pointer;
    border: unset;

}
.SimiliarSearchButtons:focus {     
    background-color:#536DFD; 
    color: white;   
}
.BigTextPragram{
    width: 79px;

left: 31px;
top: 230px;
font-weight: 600;

font-family: SF Pro Display;
font-size: 12px;
line-height: 14px;

/* black */

color: #2E2E2E;
}
.SmallListGroup{
    border-bottom: 1px solid #E2E5EB;
    cursor: pointer;
}
.SmallListGroup:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.BlaBlaBla{
    border-radius: 4px ;
}
.SmallListImg{
    width: 70px;
   
    align-items: center;
    align-content: center;
    margin-top: 5px;
    border-radius: 4px;
}
#Rasm{
    width: 100%;
    height: 100%;
}
.SmallListGroup{
    width: 100%;
  
    display: flex;
}
.SmallListTextBig{
font-family: SF Pro Display;
font-size: 13px;
line-height: 17px;
color: #2E2E2E;
margin-left: 10px;
margin-top: 5px;
font-weight: 600;

}
.SmallListTextSmall{
font-family: SF Pro Display;
font-size: 12px;
line-height: 14px;
color: #606060;
margin-left: 10px;
margin-right: 10px;
margin-top: -10px;

}
@media (max-width:1200px){
    .CourseList{
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

}
@media (min-width:1200px) and (max-width:11223px){
    .CourseList{
       display: none;
    }
}



.SecondBulim{
    width: 100%;
    margin-top: 25px;
}
.HeadBody{
    height: auto;
    margin: auto;
}

.HeadBodyVideos{
    width: 100%;
    height: auto;
}
.Videos{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ItemsGroup{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.ItemsGroupText{
font-family: SF Pro Display;
font-size: 22px;
line-height: 29px;
color: #2E2E2E;
font-weight: 600;
}
.ItemsGroupRate{
  font-size: 17px;
  margin-left: 8px;
box-sizing: border-box;
margin-top: 3px;
}
.ItemsGroupRateResult{
font-family: SF Pro Display;
font-size: 14px;
width: 25px;
line-height: 17px;
font-weight: bold;
margin-left: 2px;
color: #2E2E2E;

}
.ItemsGroupShowed{
    
font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
color: #9DA7BB;
justify-content: flex-start;
margin-top: 10px;
margin-left: -40px;
}
.RootMe{
    display: flex;
}
.RootShare{
}
.ShareMe{
    margin-left: auto;
    justify-content: right;
    justify-content: flex-end;
    margin-top: 10px;
    display: flex;
    cursor: pointer;
}
.ShareMeButton{
    width: 88px;
    height: 28px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ShareMeButton:focus{
    color: white;
    cursor: pointer;
}
.ShareMeMenyu{
    margin-top: 80px;
    margin-left: -170px;

}
.PersonalGRoup{
    width: 100%;
    height: 80px;
}

.ShareMeIcon{
    width: 12px;
    height: 12px;
    color: #9DA7BB  ;
    margin-left: -4px;
    margin-top: -14px;
}
.ShareMeIconText{
    margin-left: 10px;
    margin-top:14px;
font-family: SF Pro Display;
font-size: 14px;
line-height: 14px;
color: #2E2E2E;
text-transform: capitalize;
}
.ShareMeUrl{
    font-family: SF Pro Display;
font-size: 17px;
line-height: 17px;
color: #2E2E2E;
font-weight: bold;

}
.IconsGroup{
    display: flex;
    width: 84%;
    margin: auto;
    margin-bottom: 15px;
justify-content: space-between;

}
.IconMe{
    font-size: 17px;
}
.IconsGroupTg{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    vertical-align: center;
    horizontal: center;
    background-color:#11BDF3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white;
}

.IconsGroupFc{
    cursor: pointer;

    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-left: 27px;
    text-align: center;
    vertical-align: center;
    horizontal: center;
    background-color: #3B5998;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white;
}

.IconsGroupEm{
    cursor: pointer;

    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-left: 27px;
    text-align: center;
    vertical-align: center;
    horizontal: center;
    background-color: #F44336;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: white;

}

.IconsGroupCp{
    cursor: pointer;

    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-left: 27px;
    text-align: center;
    vertical-align: center;
    horizontal: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: #9DA7BB;
    
}

.PersonalGRoup{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
}

.PersonalImg{
    width: 28px;
    height: 28px;
}
.PersonalName{
    margin-left: 10px;
    margin-top: 7px;
    font-family: SF Pro Display;
font-size: 15px;
font-weight: bolder;
line-height: 17px;
/* identical to box height */


color: #595858;

}
.JoinRegistration{
    margin-left: 20px;
}
.JoinMe{
    background-color: #536DFD;
    color: white;
    width: 110px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 3px;
    border: transparent;


}
.JoinMe p{
    font-size: 13px;
    margin-top: 2px;
}
.JoinedMe{
    width: 130px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 3px;
    border: transparent;
    background-color: #9DA7BB;
    color: white;
}
.JoinedMe p{
    font-size: 13px;
    margin-top: 2px;
}
.RouterMenu{
    width: 100%;
    height: 50px;
}

@media(max-width:767px){
    .RouterLi{
        width: 100%;
    }
}
@media(min-width:768px) and (max-width:1023px){
    .RouterLi{
        width: 50%;
    }
}
#navId{
    width: 100%;
    height: 50px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 5px;
}
.RouterLi{
    width: 25%;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    background-color: white;
    text-align: center;

}
.RouterLi:hover{
    background-color: #E1E1E1;
    color: black;
}
.stud{
    color: black;
}
.TextMe{
    font-size: 16px;
}
.RouterLink{
    margin: auto;
    background-color: white;
    height: 30px;
    border: 1px solid black;
}

.ThirdBulim{
    width: 23.5%;
    height: auto;
    margin-top: 25px;
}