.sharh{
    padding-left: 5%;
    width: 80%;
    margin: auto;
    display: block;
}
.sharh h1{
    font-size: 18px;
}
.baholash{
    margin-top: 16px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.yulduz h2{
    font-size: 72px;
    margin-top: 44px;
    margin-left: 20%;
}
.yulduz p{
    font-size: 12px;
    margin-left: 20%;
}

.yulduzcha{
    width: 80%;
    margin-left: 50px;
    margin-top: 18px;
    display: flex;
    align-items: center;
}
.yulduzcha i{
    font-size: 12px;
    color: #9DA7BB;
}
.yulduzcha small{
    font-size: 16px;
    margin-left: 4px;
}
.sharh h6{
    margin-top: 37px;
    font-size: 18px;
}
.karta{ display: flex;
    margin-top: 36px;
    width: 80%;
 
}
.karta img{
    height:40px;
    width:40px;
    border-radius: 50%;}
.karta h4{
    font-size: 16px;
}
.karta:nth-child(2){
    font-size: 14px;
    color: #9DA7BB;
  margin-left: 30px;
    width: 20%;
}
.karta:nth-child(3){
    width: 80%;
    font-size: 14px;
}
.picture{
    margin-top: 36px;
    width: 80%;

    opacity: 0.5;
}
.picture img{
    border-radius: 50%;
    width: 50px;
    height:50px;
}
.picture h4{
    font-size: 16px;
}


.izohingiz{
    width: 80%;
    margin-left: 20%;
    background-color: white;
    margin-top: 50px;
    border: 1px solid rgba(157, 167, 187, 0.1);
border-radius: 4px;
}
.izohingiz img{
    width: 30px;
    height: 30px;
    margin-top: 19px;
    margin-left: 12px;
}

.izohingiz i{
    font-size: 10px;
    color: #FFC02E;
    margin-left: 8px;
    margin-right: 20px;
}
.izohingiz h6{
    font-size: 14px;
}
