.wb{
    margin:30px;
    padding: 30px;
    display: flex;
}
h3{
    height: 29px;
    width: 200px;
    left: 199px;
    bottom: 24px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 14px;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
h6{
 
    height: 17px;
width: 200px;
left: 199px;
bottom: 24px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 8px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #9DA7BB;

}
.card12{
    padding-top: 5px;
    color:white;
position:absolute;
height: 22px;
width: 120px;
left: 24px;
top: 24px;
border-radius: 2px;
font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
justify-content: center;
text-align: center;
background: #10C8A0;



}
.wb3{ position: absolute;
    height: 42px;
    width: 42px;
    right: 24px;
    bottom: 24px;
    border-radius: 50px;
    border: 1px solid #9DA7BB;
text-align:center;
}

.wb1{ position: absolute;
    bottom: 20px;

}
.wb2{
    left: 197px;
    margin-left: 40px;
    position: absolute;
    bottom: 20px;
}