.tasvir{
    background-image: url("/src/pages/dashboard/img/tasvir.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:20px;  
width: 100%;
top: 2976px;
border-radius: 0px;
}
.text{
 
    
    width: 100%;
    padding-left: 96px;
    padding-top: 10px;
    border-radius: nullpx;
    font-family: SF Pro Display;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;

}
.text1{
  
    height: 68px;
width: 80px;
padding-left: 20px;
padding-top: 20px;
border-radius: 0px;
    color: #FFFFFF;

}
.text2{
   
    color: #FFFFFF;
    height: 68px;
    width: 80px;
    padding-left: 80%;
    padding-top: 20px;
    border-radius: 0px;
    
}
.text3{
    font-family: SF Pro Display;
font-size: 30px;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
    height: 36px;
    width: 200px;
    border-radius: nullpx;
    color: #FFFFFF;

}