.titler{
text-align: center;
padding-top:50px;
width:100%;
font-family: SF Pro Display;
font-size: 30px;
color: #2E2E2E;

}
.all{
 align-items: center; 
    width:100%;
    background-color: #E5E5E5;
}
.cor{
    display: flex;
    align-items: center;
width: 705px;
height: 270px;
align-items: center;
padding-top: 100px;
}

.title2{
   padding-top:70px;
    height: 36px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #2E2E2E;
}
.logo1{
    font-size: 20%;
     

    
}

@media (max-width:991px){
    .cor p{ 
 font-size:8px;       
    }
}
@media (max-width:991px){
    .cor img{ 
height:250px; 
  
    }
}
@media (max-width:991px){
    .cor { 
        width: 400px;
 font-size:10px;       
    }
}