
*{
    font-family: 'Roboto', sans-serif;
}
header {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding-bottom: 30px;
}
header .header_top {
    border-bottom: 1px solid #F1F2F6;
    box-shadow: 0px 2px 5px rgba(209, 209, 212, 0.05);
    padding: 8px;
    margin-bottom: 30px;
}
header .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_top  .col_6 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_top span {
    font-size: 14px;
    font-weight: 700;
    color: #536DFD;
}
.header_top h2 {
    font-size: 30px;
    font-weight: 700;
    color: #536DFD;
    margin-top: -9px;
}
.header_top .logo2 {
    position: relative;
    top: 13px;
    left: -5px;
}

.header_top .btn{
    text-transform: uppercase;
    margin-left: 86px;
    margin-right: 47px;
    padding: 7px 18px;
    color: #536DFD;
    border: 1px solid #98baff59;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
}
.header_top .btn:hover {
    color: #536DFD;
}
.header_top .but {
    background: #536DFD;
    border-radius: 4px;
    padding: 7px 30px;
    font-size: 14px;
    color: white;
}

header .men_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}













#all{display:flex;
position:relative;
overflow: hidden;
    background-color: #536DFD;
  width: 100%;  
  height: 700px;
}
.elips{
    position: absolute;
  margin: auto;
    height: 75%;
width:50%;
right: -167px;
top: -164px;
border-radius: 50%;
background: #FFD401;


}
.dastur {
color:white;

padding-left: 10%;
margin-top: 100px;


}

.dastur1{
  font-weight: 700;
  font-size:1.5vw;
    width:80%;
   margin-left: 10%;
    margin-top: 40px;
}
.search{
    margin-top:30px;
padding-right: 10px;
left: 10%;
top: 483px;
border-radius: 4px;
background: #FFFFFF;

}
.soz{  
    height: 10%;
    width: 100%;
    border:none;
    border-radius: nullpx;
    font-family: SF Pro Display;
    
    
}
.card1{
    position: absolute;
    height: 180px;
width: 400px;
left: 46%;
top: 143px;
border-radius: 4px;
background: #FFFFFF;
box-shadow: 0px 10px 30px 0px #0715652E;
}
.card2{
    position: absolute;
    height: 180px;
width: 400px;
left: 1287px;
top: 143px;
border-radius: 4px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px 0px #0715652E;

}
.card3{
    position: absolute;
    height: 180px;
width: 400px;
left: 50%;
top: 363px;
border-radius: 4px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px 0px #0715652E;
}
.card4{
    left: 1358px;
    top: 363px;
    position: absolute;
    height: 180px;
    width: 400px;
background: #FFFFFF;
box-shadow: 0px 10px 30px 0px #0715652E;
border-radius: 4px;
    border-radius: 4px;

}
.card11{
    padding-top: 5px;
    color:white;
    position:absolute;
    height: 22px;
    width: 90px;
    left: 24px;
    top: 24px;
    border-radius: 2px;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
    text-align: center;
background: #FFB800;


}
.card12{
    padding-top: 5px;
    color:white;
position:absolute;
height: 22px;
width: 90px;
left: 24px;
top: 24px;
border-radius: 2px;
font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
justify-content: center;
text-align: center;
background: #10C8A0;


}
.card13{
    padding-top: 5px;
    color:white;
    position:absolute;
height: 22px;
width: 90px;
left: 24px;
top: 24px;
border-radius: 2px;
font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
justify-content: center;
text-align: center;
background: #11BDF3;
 

}
.card14{
    padding-top: 5px;
    color:white;
    position:absolute;
height: 22px;
width: 90px;
left: 24px;
top: 24px;
border-radius: 2px;
font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
justify-content: center;
text-align: center;
background: #EB3B3B;

    
}
.som1 span{
  position: absolute;
  left: 82px;
  top: 4px;
  font-family: SF Pro Display;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}
.som1{ 

    position: absolute;
    height: 24px;
    width: 108px;
    left: 268px;
    top: 24px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 20px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.som2 span{
    position: absolute;
    left: 82px;
    top: 4px;
    font-family: SF Pro Display;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
  }
.som2{
    position: absolute;
    height: 24px;
    width: 108px;
    left: 268px;
    top: 24px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 20px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;
}
.som3 span{
    position: absolute;
    left: 82px;
    top: 4px;
    font-family: SF Pro Display;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
  }

.som3{
    position: absolute;
    height: 24px;
    width: 108px;
    left: 268px;
    top: 24px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 20px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.som4 span{
    position: absolute;
    left: 82px;
    top: 4px;
    font-family: SF Pro Display;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
  }
.som4{
    position: absolute;
    height: 24px;
    width: 108px;
    left: 268px;
    top: 24px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 20px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.Sharx1 span{height: 17px;
    width: 56px;
    left: 90px;
    top: 104px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #9DA7BB;


}
.Sharx1{
    position: absolute;
    height: 48px;
width: 280px;
left: 25px;
top: 75px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 17px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;


}

.Sharx2 span{
    height: 17px;
    width: 56px;
    left: 90px;
    top: 104px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #9DA7BB;

}
.Sharx2{
    position: absolute;
    height: 48px;
width: 280px;
left: 25px;
top: 75px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 17px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.Sharx3{
    position: absolute;
    height: 48px;
width: 280px;
left: 25px;
top: 75px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 15px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.Sharx3 span{
    height: 17px;
    width: 56px;
    left: 90px;
    top: 104px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #9DA7BB;

}
.Sharx4 span{
    height: 17px;
    width: 56px;
    left: 90px;
    top: 104px;
    border-radius: nullpx;
    font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #9DA7BB;

}
.Sharx4{
    position: absolute;
    height: 48px;
width: 380px;
left: 25px;
top: 75px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 17px;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.star1 i{
    opacity: 0.5;
}
.star1{
    display: flex;
    opacity: 0,5;
    position: absolute;
    height: 12px;
width: 400px;
left: 24px;
top: 141px;
border-radius: 0px;

}
.sea i{
    opacity: 0.5;
    display: flex;
  padding:14px;
  padding-right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 0px;
    font-size: 24px;
}
.tor1{
    position: absolute;
    height: 17px;
    width: 18px;
    right: 210px;
    bottom: 24px;
    border-radius: nullpx;
     
}
.tor1 span{
position: absolute;
 height: 17px;
width: 42px;
left: 5px;
bottom: 5px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 14px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
background: #9DA7BB;

}