.title{
    position: absolute;
    height: 36px;
width: 460px;
left: 526px;
top: 36px;
border-radius: nullpx;
font-family: SF Pro Display;
font-size: 30px;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.all{
    position: absolute;
    left: 0px;
    width:1440px;
    top: 3500px;
    height:1040px;
    background-color: #E5E5E5;
}
.cor{
    position: absolute;
top: 221px;
left:500px;
align-items: center;

color:crimson;
}

.title2{
    position: absolute;
    height: 36px;
    width: 400px;
    left: 592px;
    top: 737px;
    border-radius: nullpx;
    font-family: SF Pro Display;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #2E2E2E;
}
.logo1{position: absolute;
    height: 49.15101623535156px;
    width: 205.65396118164062px;
    left: 165px;
    top:847px;
    border-radius: 0px;
     
}
.logo2{
    position: absolute;
    height: 74px;
    width: 111px;
    left: 493.654296875px;
    top: 847px;
    border-radius: 0px;
      
}
.logo3{
    position: absolute;
    height: 72.94451904296875px;
    width: 104.98444366455078px;
    left:757px;
    top: 847px;
    border-radius: 0px;
      
}
.logo4{position: absolute;
    height: 72.94451904296875px;
    width: 104.98444366455078px;
    left:956px;
    top: 847px;
    border-radius: 0px;
      
}