*{
    font-family: 'Roboto', sans-serif;
}
header {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding-bottom: 30px;
}
header .header_top {
    border-bottom: 1px solid #F1F2F6;
    box-shadow: 0px 2px 5px rgba(209, 209, 212, 0.05);
    padding: 8px;
    margin-bottom: 30px;
}
header .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_top  .col_6 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_top span {
    font-size: 14px;
    font-weight: 700;
    color: #536DFD;
}
.header_top h2 {
    font-size: 30px;
    font-weight: 700;
    color: #536DFD;
    margin-top: -9px;
}
.header_top .logo2 {
    position: relative;
    top: 13px;
    left: -5px;
}

.header_top .btn{
    text-transform: uppercase;
    margin-left: 86px;
    margin-right: 47px;
    padding: 7px 18px;
    color: #536DFD;
    border: 1px solid #98baff59;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
}
.header_top .btn:hover {
    color: #536DFD;
}
.header_top .but {
    background: #536DFD;
    border-radius: 4px;
    padding: 7px 30px;
    font-size: 14px;
    color: white;
}

header .men_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.men_img {
    margin-right: 24px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.men_img img {
    cursor: pointer;
}
.men_img .camera {
    width: 150px;
    height: 150px;
    background: #ffffff80;
    padding: 5px 63px;
    color: white;
    position: absolute;
    bottom: -110px;
    cursor: pointer;
    transition: 0.5s;
}
.men_img .camera:hover{
    bottom: 0px;
    background: #ffffffb2;
}
.men_img .camera img {
    width: 30px;
    position: absolute;
    top: 5px;   
    transition: 0.5s;
}
.men_img .camera:hover.camera img{
    position: absolute;
    top: 60px;
}
.men_info .men_title h2 {
    font-size: 20px;
    line-height: 24px;
    color: #2E2E2E;
}
.men_title  p {
    font-size: 14px;
    line-height: 17px;
    color: #2E2E2E;
    background: #F1F2F6;
border-radius: 2px; 
width: 175px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 9px;
}
.men_title h6 {
    font-size: 15px;
    line-height: 14px;
    color: #2E2E2E;
    margin-top: 35px;
}
.men_title .icons {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.men_title .icons a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid white;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.men_title .icons img {
    display: flex;
    align-items: center;
}
.icons .rocket {
    width: 20px;
    height: 20px;
}
.icons .brain {
    width: 20px;
    height: 20px;
}
.icons .medal {
    width: 20px;
    height: 20px;
}
.men_balance {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    margin-bottom: 35px;
}
.men_balance h3{
    font-size: 20px;
line-height: 24px;
color: #9DA7BB;
}
.men_balance h2 {
    font-size: 32px;
line-height: 38px;
color: #2E2E2E;
}
.men_balance h2 span {
    font-size: 20px;
    font-weight: 300;
}
.men_balance .dk {
    padding: 11px 12px;
    background: #536DFD;
border: 1px solid #536DFD;
box-sizing: border-box;
border-radius: 2px;
}
.men_balance .put {
    background: #536DFD;
border-radius: 2px;
padding: 10px 16px;
font-size: 16px;
color: #FFFFFF;
margin-left: 11px;
}
.men_balance .balance_button{
    margin-left: 88px;
    position: relative;
}
.men_balance .balance_button .ii{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #F1F2F6;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}


.card{
    background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(7, 21, 101, 0.18);
border-radius: 4px;
padding:20px ;
width: 200px;
height: 220px;
position: absolute;
top: 50px;
left: -90px;
z-index: 21;
}
.card hr {
    margin-top: -7px;
    width: 200px;
    background: #9DA7BB;
    transform: translateX(-20px);
}
.card .card_item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 22px;
    box-sizing: border-box;
    cursor: pointer;
}
.card .card_item h6 {
    font-size: 16px;
line-height: 19px;
font-weight: 400;
color: #2E2E2E;
}
.card .card_item img {
    width: 19px;
    margin-right: 10px;
}

.card2 {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(7, 21, 101, 0.18);
    border-radius: 4px;
    width: 330px;
height: 299px;
    position: absolute;
    top: 50px;
    left: -270px;
    z-index: 21;
}
.card2 h3 {
    font-size: 12px;
line-height: 14px;
color: #2E2E2E;
margin: 15px 15px 10px 15px;
}
.img_title  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_item2 h6 {
    font-size: 14px;
line-height: 17px;
color: #2E2E2E;
font-weight: 700;
}
.card2 img {
    margin-right: 12px;
}
.img_info2 p {
    font-size: 12px;
line-height: 14px;
color: #9DA7BB;

}
.card_item2 {
    margin: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_info2 {
    transform: translateY(5px);
}
.card2 a {
    text-decoration: none;
    font-size: 12px;
line-height: 14px;
color: #536DFD;
position: absolute;
right: 6px;
top: 270px;
}
.card2 a img {
    transform: translateY(-1px);
    margin-left: 9px;
}
.img_title span {
    background: #10C8A0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: 2px;
}

@media (max-width:1191px){
    .balance {
        transform: translateX(100px);
    }
}
@media (max-width:991px){
    .header_top .logo2 {
        position: relative;
        top: 13px;
        left: -5px;
    }
    .header_top h2 {
        font-size: 30px;
        font-weight: 700;
        color: #536DFD;
        margin-top: -9px;
        display: flex;
        align-items: center;
    }
    .header_top h2 img {
        margin-top: 7px;
    }
    .header_top .btn {
        margin-left: 30px;
    }
    .balance h3 {
        font-size: 15px;
    }
    .balance h2 {
        font-size: 22px;
        display: flex;
        align-items: center;
        width: 180px;
    }
    .balance h2 span {
        font-size: 15px;
    }
    .balance_button {
        display: flex;
        align-items: center;
        transform: translate(-110px, -40px);
    }
    .balance_button .ii {
        z-index: 12;
    }
    .balance .buttons {
        display: flex;
        align-items: center;
    }
    .balance .dk {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balance .put {
        width: 150px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.close {
    cursor: pointer;
    color: white;
}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  .balance_button .ii {
    z-index: 12;
}
}

@media (max-width:767px){
    .header_top .btn {
        display: none;
    }
    header .md{
        display: block;
        transform: translateY(30px);
    }
    .balance {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .balance h3 {
        font-size: 20px;
    }
    .balance h2 {
        font-size: 25px;
        transform: translateX(20px);
    }
    .balance h2 span {
        font-size: 18px;
    }
    .balance_button{
        position: relative;
        top: -190px;
        left: 190px;
    }
    .balance_button .ii {
        z-index: 12;
    }
    .balance_button .card2 {
        z-index: 5;
    }
}
@media (max-width:575px){
    .md .men_info {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .balance_button {
        display: none;
     
    }
    .balance_button .ii {
        z-index: 12;
    }
    .men_title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        margin-left: -10px;
    }
    .men_title h6 {
        margin-top: 0px;
        margin-left: 80px;
    }
    .men_title .icons {
        margin-left: 10px;
    }
    .balance .dk {
        display: none;
     
    }
    .balance {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-10px);
    }
}