
/* .row .payments img {
    width: 50px;
    cursor: pointer;
}

.row1 .payments a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dbdbdbbd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.row .payments img {
    display: flex;
    align-items: center;
    justify-content: center; */
